@model ErrorViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<h1 class="text-danger">@Localizer["ErrorHeader"]</h1>
<h2 class="text-danger">@Localizer["ErrorMessage"]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@Localizer["RequestIdLabel"]</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>@Localizer["DevelopmentModeHeader"]</h3>
<p>
    @Html.Raw(Localizer["DevelopmentModeMessage1"])
</p>
<p>
    @Html.Raw(Localizer["DevelopmentModeMessage2"])
</p>
<p>
    @Html.Raw(Localizer["DevelopmentModeMessage3"])
</p>